parameters:
    ignoreErrors:
        -
            identifier: missingType.generics

    treatPhpDocTypesAsCertain: false

    cognitive_complexity:
        class: 50
        # function: 8
        function: 15
